*{
    transition: all 0.5s;
}
.moveUp:hover{
    transform: translate(10px, -50px);
    transition: all 0.5s ease-in-out;
}
.expandPic:hover{
    transform: scale(1.4) translate(10px, 30px);
    transition: all 1s ease-in-out;
   cursor: pointer;
}

