*{
    transition: all 0.5s;
}
.moveUp:hover{
    transform: translate(10px, -50px);
    transition: all 0.5s ease-in-out;
}
.moveUp:hover .backgroundChange{
    
    transition: all 1s;
}
.expandPic{
    margin: 1rem 0;
   width: 120px;
   height: 120px;
   transition: all 1s;
   border-radius: 50%;
}
.expandPic:hover{
    margin: 0 0 1rem 0;

    transform: rotate(360deg);
    border-radius: 0px;
   width: 100%;
  height: 100%;
    transition: all 0.7s ease-in-out;
   cursor: pointer;
}

.titleHov:hover .transLeft{
opacity: 0;
transform: translate(-400px, 0);
transition: all 0.5s;
}
.titleHov:hover .transRight{
opacity: 0;
transform: translate(400px, 0);
transition: all 0.5s;

}

.transLeft{
opacity: 1;
transform: translate(0, 0);
transition: all 0.5s;

}

.transRight{
opacity: 1;
transform: translate(0, 0);
transition: all 0.5s;

}