.card{
    transition: all 0.7s ease-in-out;
    transform: scale(1) translate(0%, 0%);
    z-index: 20;
}
.expand{
    transition: all 1.2s ease-in-out;
    transform: scale(1.5) translate(70%, 0);
    z-index: 30;
}
.eForm-show{
    transform:translate(0,0%) scale(0.7);
    visibility: visible;
    transition: transform 1s;
    background: #fff;
    position: absolute;
    z-index: 33;
}
.eForm-hide{

    transform:translate(50%,10%) scale(0.1);
    visibility: hidden;
    transition: transform 1s;
}
