
.header > .nav-link{
border-bottom: 2px solid goldenrod;
}
.header > .nav-link:hover{
border: 1px solid goldenrod;
}
.text-drop{
    visibility: visible;
    transform: scale(1);
    transform:translateY(-8px ) translateX(10px);
    transition: all 0.5s ease-in-out;
    z-index: 23;
}

.full-rotate:hover{
    transform: rotate(270deg);
    transition: all 1.5s ease-in-out;

}
.shift-left{
    transform: translate(0%, 0px);
}